<nav class="header-container">

    <div class="icon-menu">
         <img [src]="icons.menu" alt="menu-mobile">
    </div>

    <div class="logo">
        <img [src]="icons.logo" alt="Logo">
    </div>




        <ng-container>
            <div class="links">
                    <ul>
                        <!-- <li class="position-img"><img [src]="icons.link"  alt="link"><span>Ссылки</span></li>
                        <li class="position-img"><img [src]="icons.contacts"  alt="contacts"><span>Контакты</span></li>
                        <li class="position-img"><img [src]="icons.union"  alt="union"><span>Теги</span></li>
                        <li class="position-img"><img [src]="icons.favorites"  alt="favorites"><span>Избранное</span></li>
                        <li class="position-img"><img [src]="icons.history" alt="history"><span>Посещения</span></li>
                        -->
                        <li class="position-img"> 
                            <ng-container *ngIf="!isOpenSearch$.value">
                                <app-input-mobile-search [isOpen]="isOpenSearch$.value"></app-input-mobile-search>
                            </ng-container>
                            
                            <img [src]="icons.add" alt="add">
                            <img [src]="icons.history" alt="history">
                            <img [src]="icons.search"  alt="search" (click)="isOpenSearch()">
                            <img [src]="icons.notification"  alt="notification">
                        </li>
                    </ul>
                

            </div>
        </ng-container>


        <!-- <ng-container>
            <div class="user">
                <ul>
                    <li class="position-img">
                        <img [src]="icons.notification"  alt="notification">
                        <img [src]="icons.ava"  alt="ava">
                    </li>
                </ul>
            </div>
        </ng-container> -->
</nav>
