<div style="height: 4px; background-color: #1074cc" *ngIf="isOpenMobileSearch"></div>

<ng-container  *ngIf="isOpenMobileSearch; else mobile">
  <div class="container-search" >
      <div class="block-left">
        <ul class="left-part">
          <li class="title">История</li>
          <li>Закрепить теги</li>
          <li>Кнопка</li>
          <li>Приложение</li>
          <li>Форма</li>
          <li>Тестовое поле</li>
        </ul>
      </div>

    <div class="block-right">
      <div class="input-part">
        <label class="label-for-searh">Автор</label>
        <input type="text" placeholder="Имя или должность" />
      </div>

      <div class="checkbox-part" >
        <ul>
          <li><input type="checkbox" /><label>Я участник </label></li>
          <li><input type="checkbox" /><label>Строкий поиск </label></li>
          <li><input type="checkbox" /><label>В загаловках </label></li>
        </ul>
      </div>


      <div style="margin-left: 25px;">Только</div>
      <div class="checkbox-part">
        <ul>
          <li><input type="checkbox" /><label>Теги </label></li>
          <li><input type="checkbox" /><label>Просьбы </label></li>
          <li><input type="checkbox" /><label>Контакты </label></li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>


  <!-- mobile version -->
  <ng-template #mobile>
    <div class="block-right_for_mobile">
      <div class="input-part">
        <img src="/assets/icons/Me.svg" class="ya_icon">
        <label class="label-for-searh">Автор</label>
        <input type="text" placeholder="Имя или должность" />
      </div>

      <div class="checkbox-part_for_mobile">
        <ul>
          <li class="checkbox_champ">
            <input type="checkbox" id="myCheckbox" (click)="onCheckboxChange($event, 'myCheckbox')"/>
            <img [src]="checkboxStates['myCheckbox']  ? '/assets/icons/circle-empty.svg' : '/assets/icons/circle-check1.svg'" alt="image">
            <label for="myCheckbox">Я участник</label >
          </li>

          <li class="checkbox_champ">
            <input type="checkbox" id="myCheckbox2" (change)="onCheckboxChange($event, 'myCheckbox2')" />
              <img [src]="checkboxStates['myCheckbox2']  ? '/assets/icons/circle-empty.svg' : '/assets/icons/circle-check1.svg'" alt="image">
              <label for="myCheckbox2" >Строкий поиск </label>
          </li>
          <li class="checkbox_champ">
            <input type="checkbox" id="myCheckbox3" (change)="onCheckboxChange($event, 'myCheckbox3')" />
              <img [src]="checkboxStates['myCheckbox3']  ? '/assets/icons/circle-empty.svg' : '/assets/icons/circle-check1.svg'" alt="image">
              <label for="myCheckbox3">В загаловках </label>
          </li>
        </ul>
      </div>
     

      <div class="checkbox-part_for_mobile">
        <ul>
          <li>Только</li>
          <li class="checkbox_champ">
            <input type="checkbox" id="myCheckbox4" (change)="onCheckboxChange($event, 'myCheckbox4')" />
              <img [src]="checkboxStates['myCheckbox4']  ? '/assets/icons/circle-empty.svg' : '/assets/icons/circle-check1.svg'" alt="image">
              <label for="myCheckbox4" >Теги </label>
          </li>
          <li class="checkbox_champ">
            <input type="checkbox" id="myCheckbox5" (change)="onCheckboxChange($event, 'myCheckbox5')" />
              <img [src]="checkboxStates['myCheckbox5']  ? '/assets/icons/circle-empty.svg' : '/assets/icons/circle-check1.svg'" alt="image">
              <label for="myCheckbox5">Просьбы </label>
          </li>
          <li class="checkbox_champ">
            <input type="checkbox" id="myCheckbox6" (change)="onCheckboxChange($event, 'myCheckbox6')" />
              <img [src]="checkboxStates['myCheckbox6']  ? '/assets/icons/circle-empty.svg' : '/assets/icons/circle-check1.svg'" alt="image">
              <label for="myCheckbox6">Контакты </label>
          </li>
        </ul>

      </div>
    </div>
</ng-template>



