<div style="height: 4px; background-color: #1074CC;"></div>
<div class="container-search">
    <div class="block-left">
        <ul class="left-part">
            <li class="title">История</li>
            <li>Закрепить теги</li>
            <li>Кнопка</li>
            <li>Приложение</li>
            <li>Форма</li>
            <li>Тестовое поле</li>
        </ul>
    </div>

    <div class="block-right">
        <div class="input-part">
            <label class="label-for-searh">Автор</label>
            <input type="text" placeholder="Имя или должность">
        </div>

        <div class="checkbox-part">
            <ul>
                <li><input type="checkbox"><label>Я участник </label></li>
                <li><input type="checkbox"><label>Строкий поиск </label></li>
                <li><input type="checkbox"><label>В загаловках </label></li>
            </ul>
        </div>
        <div class="checkbox-part">
            <ul>
                <li><input type="checkbox"><label>Теги </label></li>
                <li><input type="checkbox"><label>Просьбы </label></li>
                <li><input type="checkbox"><label>Контакты </label></li>
            </ul>
        </div>
    </div>


</div>